<!DOCTYPE html>
<html>
<head>
  <title>Generated Password</title>
</head>
<body>
  <h1>Your Generated Password</h1>
  <p><%= @password %></p>
  <a href="/">Generate Another Password</a>
</body>
</html>
